body {
    background-color: #0b192f;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
}

#navbar-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#navbar-list li {
    margin-right: 1.2rem;
    font-size: .9rem;
    color: #b0b4bd;
}

#space-span{
    margin-right: .4rem;
    color: #40a394;
}

#resume-button {
    border: 2px solid #40a394;
    background: none;
    height: 2.2rem;
    color: 40a394;
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20vw;
}

#green-text {
    color: #40a394;
}

#body-header {
    color: #b0b4bd;
    font-size: 3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#grey-body-header {
    margin-top: 0;
    margin-bottom: 0;
    color: #b0b4bdaa;
    font-size: 3rem;
}

#body-text {
    color: #b0b4bd62;
    font-size: 1.1rem;
    width: 25rem;
    line-height: 1.3rem;
}