* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #212121;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

.navbar-container > img {
    width: 5vw;
}

.navbar-items {
    display: flex;
    gap: 3rem;
    font-weight: 200;
}

.navbar-items>p>a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;

}

.navbar-items>p>a:hover {
    color: #04ffba;
    transition: 0.3s ease;
    text-decoration: underline;
    font-size: 1.01rem;
}


.landing-page-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    flex-grow: 1;
}

.lp-left-hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.lp-left-hero-container > h2 {
    font-size: 4rem;
}

.lp-left-hero-container > button {
    background-color: #04ffba;
    outline: none;
    border: none;
    border-radius: 1rem;
    height: 5vh;
    width: 9.5vw;
    font-size: 1rem;
    transition: 0.3s ease;
}

.lp-left-hero-container > button:hover {
    height: 5.2vh;
    width: 9.7vw;
    transition: 0.3s ease;
}


.lp-right-hero-container > img {
    width: 25vw;
    max-height: 80vh;
    object-fit: contain;
}

.emoji {
    font-size: 1.25rem;
}

.highlight-text {
    color: #04ffba;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 4rem;
}

.story-container>p {
    width: 40vw;
}

.story-container>img {
    width: 40vw;
}

.skills-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
}

.skill-card-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #2a2a2a;
    border: solid 2px #04FFBA;
    border-radius: .5rem;
    width: 20vw;
    height: 30vh;
}

.skill-card > h3 {
    padding-bottom: 0.5rem;
    text-decoration: underline;
}

.skill-card > ul {
    padding: 2rem;
}

.skill-card>ul>li {
    display: inline;
    list-style-type: none;
    transition: ease 0.3s;
    cursor: default;
}

.skill-card>ul>li:hover {
    color: #04FFBA;
    transition: ease 0.3s;
}

.my-work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-list {
    display: flex;
    gap: 2.5rem;
    padding-bottom: 4rem;
}

.filter-list > button {
    cursor: pointer;
    background-color: #212121;
    border: 3px solid #04FFBA;
    border-radius: .25rem;
    color: #ffffff;
    width: 8vw;
    height: 5vh;
    font-weight: 500;
    transition: 0.3s ease;
    font-size: 1.2rem;
}

.filter-list > button:hover {
    background-color: #204f43;
}

.hidden { 
    display: none;
}

.roblox-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #2a2a2a;
    border: solid 2px #04FFBA;
    border-radius: .5rem;
    width: 35vw;
    height: 40vh;
}

.roblox-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures spacing between h3 and image */
    background-color: #2a2a2a;
    border-radius: .5rem;
}


.roblox-card > h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image-wrapper {
    width: 100%;
    height: 100%; /* adjust as needed */
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    align-self: center;
    padding: 1rem;
}

.image-wrapper img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}
