body {
    background-color: #0b192f;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 3rem;
    padding-top: 0rem;
}

#navbar-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: top;
    padding-top: 0rem;
    margin-top: 0rem;
}

#navbar-list li {
    padding-top: 0rem;
    margin-top: 0rem;
    margin-right: 1.2rem;
    font-size: 1rem;
    color: #b0b4bd;
}

#space-span{
    margin-right: .4rem;
    color: #40a394;
}

#resume-button {
    margin-top: .3rem;
    border: 2px solid #40a394;
    background: none;
    height: 2.2rem;
    color: 40a394;
    font-size: .8rem;
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20vw;
}

#green-text {
    color: #40a394;
    font-size: 1.1rem;
}

#body-header {
    color: #b0b4bd;
    font-size: 4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#grey-body-header {
    margin-top: 0;
    margin-bottom: 0;
    color: #b0b4bdaa;
    font-size: 4rem;
}

#body-text {
    color: #b0b4bd6f;
    font-size: 1.1rem;
    width: 28rem;
    line-height: 1.3rem;
    text-align: justify;
    padding-bottom: 1.5rem;
}

#github-link {
    border: 2px solid #40a394;
    background: none;
    height: 2.2rem;
    color: 40a394;
    width: 20rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}